# This is a preset device configuration for Zadig for the Razer Atrox XBO Arcade Stick
[device]
  Description = "XBOFS.win Controller (Madcatz TE2 XBO)"
  VID = 0x738
  PID = 0x4a01
  GUID = "{5ACF052A-3BE5-46AE-905E-356BA17671BD}"